*~
*.la
*.lo
*.mlm
*.o
*.spec
.deps
.libs
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
depcomp
helpers/cwrap
install-sh
libp/html_gpl2.cpp
libp/mlpaths.h
libtool
ltmain.sh
m4/
make_bundle.sh
make_slack
Makefile
Makefile.in
Makefile.Debug
Makefile.Release
mcallman/CallManager-Info.plist
mcallman/mcallman
mcidmd/mcidmd
mcs/mskimmer
mdbadmin/CallAdministrator-Info.plist
mdbadmin/mdbadmin
missing
ml/CallScreener-Info.plist
ml/ml
mld/mld
mlmh/mlmh
mlmld/mlmld
moc_*
rc.mcidmd
rc.mld
rc.mlmld
release
scripts/twinkle.cfg
scripts/twinkle_hybrid.sh
slack-desc
